<div id="{{ id }}" class="dashboard itemlist" style="{{ inlineStyle }}">
    <div class="content">
        <h3 class="dashboard-title">{{ title }}</h3>
        <h6 class="dashboard-subtitle">{{ subtitle }}</h6>

        <table>
            <thead>
                <tr>
                    {{# columns }}
                        <th class="item-{{ type }}">{{ name }}</th>
                    {{/ columns }}
                </tr>
            </thead>
            <tbody>
                {{# items }}
                    <tr>
                        {{# . }}
                            <td class="item-{{ type }}">{{ value }}</td>
                        {{/ . }}
                    </tr>
                {{/ items }}
            </tbody>
        </table>
    </div>
</div>