<div id="{{ id }}" class="dashboard st-question" style="{{ inlineStyle }}">
    <div class="content">
        <h3 class="dashboard-title">{{ title }}</h3>
        <h6 class="dashboard-subtitle">{{ subtitle }}</h6>

        <div id="gew-{{ id }}" class="gew" data-input="{{ inputName }}" data-required></div>
     </div>
</div>